@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
    --font-geist: "Geist", sans-serif;
    --color-midnight:  #1c2634;
}

:root{
    background: #1c2634;
    --font-geist: 'Geist', -apple-system, BlinkMacSystemFont;
}
* {
    font-family: var(--font-geist), sans-serif;
}

body, html {
    font-family: var(--font-geist), sans-serif;
}

input, textarea, button, select {
    font-family: var(--font-geist), sans-serif;
}